* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 12pt;
  background-color: #444444;
  font-family: 'Open Sans', sans-serif !important;
}
/*Header and title*/
.header {
  background-color: #222222;
  padding-top: 2.5em;
  border-bottom: 2px solid #333333;
}

.title {
  display: flex;
  flex-direction: column;
  /* padding-left: 2.5em; */
  padding-bottom: 2em;
  align-items: center;
  justify-content: center;
}

.title-main {
  text-transform: uppercase;
  font-size: 3em;
  color: #e5e5e5;
  font-family: 'Julius Sans One', sans-serif !important;
  font-weight: bolder;
  padding: 0;
}

.title-sub {
  color: #e5e5e5;
  text-transform: uppercase;
  font-family: 'Julius Sans One', sans-serif !important;
  padding-bottom: .2em;
  padding-left: .25em;
  font-weight: lighter;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  background-color: #222222 !important;
}

.nav-item {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: lighter !important;
}

/* Navigation Bar */
/* .nav-bar {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 3em;
  padding-right: 3em;
  overflow: hidden;
  background-color: #222222;
  justify-content: center;
}

.nav-bar-item {
  float: left;
  padding: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.nav-bar-item a {
  display: block;
  color: #e5e5e5;
  font-size: 1.15em;
  font-weight: lighter;
  text-align: center;
  padding-left: 1.25em;
  padding-right: 1.25em;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif !important;
} */

.main-images-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 4em;
}

.main-image{
  padding: 0;
  margin: 0;
  border: 0;
}

.footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333333;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.link {
  color: #e5e5e5;
  font-family: 'Open Sans', sans-serif;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
  }
  .title-main {
    text-transform: uppercase;
    font-size: 2em;
    color: #e5e5e5;
    font-family: 'Julius Sans One', sans-serif !important;
    font-weight: bolder;
    padding: 0;
  }

  .title-sub {
    color: #e5e5e5;
    text-transform: uppercase;
    font-family: 'Julius Sans One', sans-serif !important;
    padding-bottom: .2em;
    padding-left: .25em;
    font-size: 1em;
    font-weight: lighter;
  }
  .main-image {
    width: 100%;
    max-width: 100vw;
  }

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
  }

  .main-image {
    width: 100%;
    max-width: 50vw;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {

  }
  .navbar {
    display: flex !important;
    justify-content: center !important;
  }

  .navbar-collapse {
    display: flex;
    justify-content: center;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .main-image {
    width: 100%;
    max-width: 25vw;
  }
}
