.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.text-photo-container {
  padding-top: 3em;
  padding-bottom: 3em;
  align-self: center;
  display: flex;
  justify-content: center;
  max-width: 80vw;
}

.text-photo-container img {
  width: 300px;
  height: intrinsic;
}

.text-group {
  display: flex;
  flex-direction: column;
  padding: 2em;
  justify-content: center;
  color: #e5e5e5;
  font-family: 'Open Sans', sans-serif !important;
}
