* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation Bar */
.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222222
}

.nav-bar-item {
  float: left;
}

.nav-bar-item a {
  display: block;
  color: #e5e5e5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.main-images-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main-image{
  padding: 0;
  margin: 0;
  border: 0;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D;
    /* Red */
  }

  .main-image {
    width: 100%;
    max-width: 100vw;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E;
    /* Yellow */
  }

  .main-image {
    width: 100%;
    max-width: 50vw;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF;
    /* Blue */
  }

  .main-image {
    width: 100%;
    max-width: 25vw;
  }
}
